---
layout: base
---
<header role="banner">
    {% include 'navPrimary' %}
</header>
<main>
    {% if navSecondary %}
    <aside role="complementary">
        {% include 'navSecondary' %}
    </aside>
    {% endif %}
    <h1>{{ title }}</h1>
    <section aria-labelledby="{{ title }}">
        <h2 id="{{ title }}">{{ title }}</h2>
        {% if description %}<p>{{ description }}</p>{% endif %}
        {{ content }}
    </section>
</main>
<footer role="contentinfo">
    {% include 'navFooter' %}
    {% include 'copyright' %}
</footer>