---
layout: base
---
<header role="banner">
    {% include 'navPrimary' %}
    {% include 'searchSite' %}
    <h1>Company Name</h1>
</header>
<main>
    {% if aside %}
    <aside role="complementary">
        {% include 'navSecondary' %}
    </aside>
    {% endif %}
    <section aria-labelledby="{{ title }}">
        <h2 id="{{ title }}">{{ title }}</h2>
        {% if description %}<p>{{ description }}</p>{% endif %}
        {{ content }}
    </section>
</main>
<footer role="contentinfo">
    {% include 'subscribe' %}
    {% include 'navFooter' %}
    {% include 'copyright' %}
</footer>