---
layout: base
---
<header>
    {% include 'navPrimary' %}
    <h1>Company Name</h1>
</header>
<main>
    {% if collections.secondary %}
    <aside>
        {% include 'navSecondary' %}
    </aside>
    {% endif %}
    <section aria-labelledby="{{ title | slugify }}">
        <h2 id="{{ title | slugify }}">{{ title }}</h2>
        {% if description %}<p>{{ description }}</p>{% endif %}
        {{ content }}
    </section>
    {% if aside %}
    {% include 'aside' %}
    {% endif %}
</main>
<footer>
    {% include 'subscribe' %}
    {% include 'navFooter' %}
    {% include 'copyright' %}
</footer>